### Named Entity Recognition (NER) Dataset Analysis

#### About the Dataset
This dataset was **generated using ChatGPT** and contains **1000 tokenized sentences with 10 different classifications of animals in English**. The dataset is designed for **Named Entity Recognition (NER) tasks**, where the goal is to identify and classify animal names from text. 

The dataset includes:
- Sentences mentioning different animals
- Corresponding labeled entities for each animal

#### Translation Mapping
The dataset also includes a **translation dictionary** from **Italian to English**:

In [1]:
translate = {
    "cane": "dog", "cavallo": "horse", "elefante": "elephant", "farfalla": "butterfly",
    "gallina": "chicken", "gatto": "cat", "mucca": "cow", "pecora": "sheep", "scoiattolo": "squirrel",
    "ragno": "spider"
}

## **1. Load and Explore the Dataset**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
dataset_path = "NER_data/NER_dataset.csv"
df = pd.read_csv(dataset_path)

# Display first few rows
print("First 5 rows of dataset:")
display(df.head())

First 5 rows of dataset:

,Tokens,Labels
0,"['A', 'chicken', 'is', 'an', 'important', 'ani...","['O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O', 'O'..."
1,"['I', 'heard', 'a', 'elephant', 'making', 'noi...","['O', 'O', 'O', 'B-ANIMAL', 'O', 'O', 'O', 'O'..."
2,"['Many', 'farmers', 'keep', 'dog', 'on', 'thei...","['O', 'O', 'O', 'B-ANIMAL', 'O', 'O', 'O']"
3,"['A', 'horse', 'has', 'a', 'very', 'distinct',...","['O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O', 'O'..."
4,"['Some', 'people', 'are', 'afraid', 'of', 'cat...","['O', 'O', 'O', 'O', 'O', 'B-ANIMAL', 'O', 'O'..."

In [5]:
print(df)

                                                Tokens  \
0    ['A', 'chicken', 'is', 'an', 'important', 'ani...
1    ['I', 'heard', 'a', 'elephant', 'making', 'noi...
2    ['Many', 'farmers', 'keep', 'dog', 'on', 'thei...
3    ['A', 'horse', 'has', 'a', 'very', 'distinct',...
4    ['Some', 'people', 'are', 'afraid', 'of', 'cat...
..                                                 ...
995  ['The', 'elephant', 'was', 'running', 'across'...
996  ['She', 'dreams', 'of', 'having', 'a', 'cat', ...
997  ['A', 'small', 'chicken', 'ran', 'across', 'th...
998  ['The', 'forest', 'is', 'home', 'to', 'many', ...
999  ['During', 'our', 'hike,', 'we', 'saw', 'a', '...

                                                Labels
0    ['O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O', 'O'...
1    ['O', 'O', 'O', 'B-ANIMAL', 'O', 'O', 'O', 'O'...
2           ['O', 'O', 'O', 'B-ANIMAL', 'O', 'O', 'O']
3    ['O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O', 'O'...
4    ['O', 'O', 'O', 'O', 'O', 'B-ANIMAL', 'O', 'O'...
..                                                 ...
995         ['O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O']
996  ['O', 'O', 'O', 'O', 'O', 'B-ANIMAL', 'O', 'O'...
997  ['O', 'O', 'B-ANIMAL', 'O', 'O', 'O', 'O', 'O'...
998         ['O', 'O', 'O', 'O', 'O', 'O', 'B-ANIMAL']
999  ['O', 'O', 'O', 'O', 'O', 'O', 'B-ANIMAL', 'O'...

[1000 rows x 2 columns]